# RPA Service Configuration
PORT=4000
RPA_WEBHOOK_SECRET=secret-rpa-key
HEADLESS=true

# En Railway, el Chromium nativo viene del Dockerfile de Playwright
# PLAYWRIGHT_CHROMIUM_EXECUTABLE_PATH=/usr/bin/chromium
